/*
font-size: rem
width: %, vw*
padding/marging: rem/em
@media: em
*/

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
}

.container {
  max-width: 70%;
  margin: 1rem auto 1rem;
}

.content-container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

svg {
  fill: #0F003A;
  width: 2rem;
  height: inherit;
  cursor: pointer;
}

.nav {
  width: 18rem;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  min-width: 15rem;
}

.nav__item {
  opacity: 0.65;
  transition: ease-in 0.3s;
}

.nav__item:hover {
  opacity: initial;
}

.nav__link {
  display: flex;
}

.cv-toggle {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  border: 0.3rem solid #0F003A;
  border-radius: 1.3rem;
  padding: 0.6rem 0.8rem 0.2rem 0.8rem;
  width: 7.5rem;
}

.cv-toggle::before {
  content: '';
  position: absolute;
  border-left: 0.5rem solid #0000;
  border-right: 0.5rem solid #0000;
  border-bottom: 0.5rem solid #0000;
  border-top: 0.5rem solid #0F003A;
  left: 1.2rem;
  top: 0;
  transition: ease-in 0.3s;
}

.cv-toggle__option {
  display: flex;
  fill-opacity: 0.65;
  transition: ease-in 0.3s;
}

.cv-toggle__option--checked {
  fill-opacity: initial;
}

.theme-toggle {
  display: flex;
}

.theme-toggle svg {
  width: unset;
  height: unset;
}
