@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: Montserrat, sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    max-width: 1024px;
    background-color: rgb(255, 255, 255);
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0px auto;
    /* background-color: rgb(223, 223, 223); */
    background-color: antiquewhite;
    height: 80px;
}

.nav_btn {
    width: 50px;
    height: 50px;
    margin: 0px 25px;
}

.nav_icon {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    transition: 0.5s;
}

.nav_icon:hover {
    opacity: 1;
}

.flex-about-me_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 0, 58);
}

.flex-about-me_photo {
    width: 350px;
    height: 350px;
    margin-left: 50px;
    object-fit: cover;
    opacity: 0.6;
}

.flex-about-me_info {
    height: 350px;
    width: 600px;
    padding: 20px 20px 20px 10px;
}

.flex-about-me_info {
    font-size: 1.5rem;
    color: antiquewhite;
}

.name {
    font-weight: 100;
}

.surname {
    font-weight: 900;
    margin-bottom: 10px;
    display: inline-block;
}

.divider {
    width: 450px;
    border-bottom: 3px solid antiquewhite;
    margin-bottom: 10px;
}

.profession {
    margin-bottom: 10px;
}

.about {
    font-size: 1.25rem;
}

/* .footer_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.footer_link {
    padding: 0 20px;
    line-height: 50px;
}

.toggle {
    --width: 60px;
    --height: calc(var(--width)/3);
    --border-radius: calc(var(--height)/1.5);

    display: inline-block;
    cursor: pointer;
}

.toggle_input {
    display: none;
}

.toggle_bg {
    position: relative;
    right: 5px;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: rgba(0, 255, 191, 0.5);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    transition: background 0.2s ease-in-out;
}
.toggle_input:checked ~ .toggle_bg {
    background: rgba(255, 196, 0, 0.5);
} */